@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  height: 100%;
}

body {
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.MuiCard-root:last-child {
  margin-bottom: 50px;
}

.mt130 {
  margin-top: 130px;
}

/**************
header
******************/
.header-nav {
  justify-content: space-between;
  padding: 1% 8%;
  background-color: #1976d2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/**************
profile
******************/

.update-profile-header {
  font-size: 24px;
  font-weight: bold;
}

.card-maxWith {
  max-width: 600px;
  margin: 0 auto;
}

.home-cardWith {
  width: 507px;
}

/**************
comment
******************/
.comments-title {
  font-weight: 600;
  font-size: 28px;
  border-bottom: 1px solid #d6d6d6;
  padding: 1rem 1.3rem;
  margin: 0;
}
.comment-block {
  border-top: 1px solid #d6d6d6;
  padding: 1rem 1.3rem;
}
.comment-textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #d6d6d6;
  resize: none;
  width: 100%;
  height: 5rem;
  padding: 1rem 1.3rem;
  display: flex;
}
.comment-textarea:focus {
  outline: none;
}
.comment-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.8rem 1.3rem;
}
.comment-submit:focus {
  outline: none;
}
